flask
flask_sqlalchemy
flask_migrate
flask_restful
flask_jwt_extended
flask_cors
flask_mail
flask_bcrypt
flask_marshmallow
marshmallow-sqlalchemy
flask-swagger
flask-swagger-ui
flask_login
flask_limiter
flask_limiter[redis]
redis